<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarcodeLib" version="1.0.0.20" targetFramework="net45" />
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- EMail Setting--><!--
    <add key="FromAddress" value="iidcorpuai@gmail.com" />
    <add key="ToAddress" value="juanxstingo@gmail.com" />

    <add key="UserID" value="iidcorpuai@gmail.com" />
    <add key="Password" value="socrates321" />
    <add key="SmtpClient" value="smtp.gmail.com" />
    <add key="ReplyTo" value="xxxxx@xxxxxxx.com" />
    <add key="SMTPPort" value="587" />
    <add key="EnableSSL" value="true" />-->
    <!-- End EMail Setting-->
  </appSettings>
</packages>