body {
    font-family: 'Open Sans', Josefin Slab;
}

.minipost {
    min-height: 300px;
    max-height: 300px;
}

    .minipost p:first-of-type {
        text-align: center;
        font-weight: bold;
    }



    .minipost .precio {
        text-align: right;
    }

    .minipost .valor {
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: #C0392B;
        margin: -8px 15px 0 0;
    }

    .minipost img {
        max-height: 200px;
        min-height: 200px;
        max-width: 200px;
        min-width: 200px;
    }





.logoImg {
    right: 14px;
    top: 55px;
    width: 150px;
    height: 150px;
    position: absolute;
    transition: All 1.9746s ease-in;
    -webkit-transition: All 1.9746s ease-in;
    -moz-transition: All 1.9746s ease-in;
    -o-transition: All 1.9746s ease-in;
    transform: rotate(1deg) scale(1) skew(1deg) translate(0px);
    -webkit-transform: rotate(1deg) scale(1) skew(1deg) translate(10px);
    -moz-transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
    -o-transform: rotate(4deg) scale(1) skew(1deg) translate(0px);
    -ms-transform: rotate(4deg) scale(1) skew(1deg) translate(0px);
}

    .logoImg:hover {
        transform: rotate(360deg) scale(3) skew(0deg) translate(-200px,50px);
        -webkit-transform: rotate(360deg) scale(3) skew(0deg) translate(-200px,50px);
        -moz-transform: rotate(360deg) scale(3) skew(0deg) translate(-200px);
        -o-transform: rotate(360deg) scale(3) skew(0deg) translate(-200px);
        -ms-transform: rotate(360deg) scale(3) skew(0deg) translate(-200px);
    }

#homeTitle {
    text-align: left;
    margin-right: 10%;
    font-family: Magneto;
    font-size: 80px;
}

@media (max-width: 900px) {
    .logoImg {
        display: none;
    }

    #homeTitle {
        font-size: 40px;
    }


}
