@{
    ViewBag.Title = "ForgetPassword";
}


@using (Html.BeginForm())
{
    <p>
        <span>Please enter your username to recover your password. A recover link will be sent to your registration email</span>
    </p>
    <p>
        <input type="text" name="NombreUsuario" placeholder="@TFITest4.Resources.Language.NombreUsuario" />
    </p>
    <p>
        <input class="btn btn-primary" type="submit" value="Go" />
    </p>

}



