@{
    ViewBag.Title = "NotFound";
}

<head>
    <style>
        body {
            background-color: #DFDFDF;
        }
    </style>
</head>

<h2 class="titulo">Page Not Found</h2>
<hr />
<center>
@*<img src="http://i.stack.imgur.com/bJ120.png" />*@
    <img src="~/Content/images/chrome_dinosaur.gif" />
    </center>